/* @import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "IBM Plex Mono", monospace;
} */

@font-face {
  font-family: AllTogetherSans-Bold;
  src: url(../fonts/AllTogetherSans-Bold.woff2);
}

@font-face {
  font-family: AllTogetherSans-Regular;
  src: url(../fonts/AllTogetherSans-Regular.woff2);
}

@font-face {
  font-family: AllTogetherSans-SemiLight;
  src: url(../fonts/AllTogetherSans-SemiLight.woff2);
}

@font-face {
  font-family: AllTogetherSans-CnBold;
  src: url(../fonts/AllTogetherSerif-CnBold.woff2);
}

@font-face {
  font-family: AllTogetherSans-CnLight;
  src: url(../fonts/AllTogetherSerif-CnLight.woff2);
}

@font-face {
  font-family: AllTogetherSans-WideBlk;
  src: url(../fonts/AllTogetherSerif-WideBlk.woff2);
}

body {
  font-family: AllTogetherSans-Regular;
}
