/* TOPBAR START */

.topbarFirst {
  background-color: #8aceff;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.topbarSlide1 {
  background-color: #fa6400;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.topbarSlide1 a {
  color: #000;
  text-decoration: none;
  position: relative;
}

.topbarSlide1 a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease;
  width: 100%;
}

.topbarSlide1 a:hover::after {
  width: 0;
}

.topbarSlide2 {
  background-color: #ffd200;
  padding: 10px 0;
  text-align: center;
}

.topbarSlide2 a {
  color: #5a1f06;
  text-decoration: none;
  position: relative;
}

.topbarSlide2 a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #5a1f06;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease;
  width: 100%;
}

.topbarSlide2 a:hover::after {
  width: 0;
}

/* TOPBAR END */

/* NAVBAR  START */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px 0 30px;
}

.navbarLeft {
  display: flex;
  gap: 30px;
}

.navbarRight {
  display: flex;
}

nav {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

nav p {
  color: #5a1f06;
}

.logoImg {
  width: 110px;
  height: auto;
}

.navbarBtns a {
  color: #592411;
}

.navbarIcons {
  display: flex;
}

.navItem {
  height: 100%;
}

.navItem svg {
  width: 50px;
}

.navItem p {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
}

.navItem1:hover {
  border-bottom: 3px solid #d70100;
}

.navItem1:hover .bag-body {
  fill: #ffd200;
}

.navItem1:hover .red {
  fill: #d70100;
}

.navItem2:hover {
  border-bottom: 3px solid #fa6400;
}

.navItem2:hover .konfetti {
  fill: #fa6400;
}

.navItem2:hover .konfetti2 {
  fill: #fa6400;
}

.navItem2:hover .celebrate-body {
  fill: #fa6400;
}

.navItem3:hover {
  border-bottom: 3px solid #00a832;
}

.navItem3:hover .explore-body {
  fill: #00a832;
}

.navItem4:hover {
  border-bottom: 3px solid #0e74e1;
}

.navItem4:hover .business-body {
  fill: #0e74e1;
}

.navbarBtns {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbarBtns a {
  display: flex;
  background-color: #f3f6fa;
  gap: 5px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
}

.navbarBtns a:hover {
  background-color: #5a1f06;
  color: #ffffff;
}

.css-84d4bu {
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(
      to right,
      #da418c,
      #d70100,
      #ff6701,
      #ffd200,
      #00b035,
      #0f79eb,
      #be9fff,
      #da408f
    ),
    white;
  background-clip: border-box;
  background-origin: border-box;
}

.toolsBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toolsBtn:hover {
  background-color: yellow;
  border: 10px solid yellow;
  border-radius: 100%;
}

.toolsBtn img {
  width: 25px;
  border: 3px solid #5a1f06;
  border-radius: 50%;
}

.navbarTools {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile i {
  border: 3px solid #5a1f06;
  padding: 2px;
  border-radius: 100%;
  margin-top: -3px;
}

.fa-bag-shopping {
  margin-top: -3px;
}

.navbarBtnLink2 {
  margin-right: 20px;
}

/* NAVBAR  END */

/* NAVBAR DROPDOWN START  */

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  width: 100%;
  left: 0;
  top: 100%;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.navItem:hover .dropdown-content {
  display: block;
}

.gifts1Box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}

.shopAll {
  color: #5a1f06;
  font-weight: bold;
}

.shopAllBox {
  border-bottom: 2px solid yellow;
}

.shopAllBox:hover {
  border-bottom: none;
}

.giftsForOccasion {
  font-size: 24px;
  color: #5a1f06;
  font-weight: bold;
  width: 80%;
  text-align: start;
}

.dropContBox {
  width: 100%;
  display: flex;
}
.chocolate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
}

.chocolate a {
  color: #5a1f06;
}

.chocolate ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shopWeddingCard {
  background-color: #83aef2;
  display: flex;
  align-items: start;
  gap: 10px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 100px;
}

.shopWeddingCard p {
  font-size: 24px;
  align-items: flex-start;
}

.shopWeddingCardImgBox {
  width: 100px;
  border-radius: 100%;
}

.shopWeddingCardImgBox img {
  width: 100%;
  border-radius: 100%;
}

.shopWeddingCardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}

.shopWeddingCardText a {
  color: #5a1f06;
  border-bottom: 3px solid #5a1f06;
}

.shopWeddingCardText a:hover {
  border-bottom: none;
}
.shopWeddingCardText p {
  margin-top: 20px;
}

.loveIsSweet {
  margin-top: -20px;
}

.chocolateTitle {
  font-weight: bold;
  margin-bottom: 20px;
}

.chocolate a:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
}

.chocolateTitle:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
}

.boldLinks {
  font-weight: bold;
}

.blackColorLinks {
  color: black !important;
}

.celebrate1box {
  text-align: start;
}

.celebrate1box h3 {
  font-size: 24px;
  color: #5a1f06;
  font-weight: bold;
  margin-bottom: 20px;
  width: 60%;
  /* text-align: start; */
}

.celebrate1box p {
  color: #000;
  width: 80%;
  font-weight: 400 !important;
}

.allOcasions {
  color: #5a1f06;
  font-weight: bold;
}

.allOcasionsBox {
  width: 23% !important;
  border-bottom: 2px solid yellow;
}

.allOcasionsBox:hover {
  border-bottom: none;
}

.celebrateCard {
  background-color: #5a1f06;
  display: flex;
  /* justify-content: center; */
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}

.celebrateCard p {
  font-size: 20px;
  /* align-items: flex-start; */
}

.celebrateCardImgBox {
  width: 100px;
  border-radius: 100%;
}

.celebrateCardImgBox img {
  width: 100%;
  border-radius: 100%;
}

.celebrateCardText {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #ffffff;
}

.celebrateCardText a {
  color: #fff;
  font-size: 12px;
  border-bottom: 3px solid yellow;
}

.celebrateCardText a:hover {
  border-bottom: none;
}
.celebrateCardText p {
  color: #fff;
}

.yourFavorites {
  margin-top: -20px;
}

.exploreCards {
  display: flex;
  justify-content: space-between;
}

.exploreCard {
  width: 18%;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exploreCard img {
  width: 100%;
  border-radius: 100%;
}
.exploreCard p {
  font-size: 20px;
  font-weight: bold;
}

.exploreCard1 {
  background-color: yellow;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.exploreCard1 p {
  color: #000;
}

.exploreCard2 {
  background-color: red;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.exploreCard2 p {
  color: #fff;
}

.exploreCard3 {
  background-color: blue;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.exploreCard3 p {
  color: #fff;
}

.exploreCard4 {
  background-color: red;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.exploreCard4 p {
  color: #fff;
}

.exploreCard5 {
  background-color: orange;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.exploreCard5 p {
  color: #000;
}

.exploreOurWorldBox {
  width: 39% !important;
  border-bottom: 2px solid yellow;
}

.exploreOurWorldBox:hover {
  border-bottom: none;
}

.businessCard {
  background-color: #83aef2;
  display: flex;
  max-width: 400px;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  align-self: flex-start;
  justify-self: flex-end;
  margin-left: 70px;
}

.businessCardImgBox img {
  width: 100px;
  border-radius: 100%;
}

.businessCardTitle h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.businessCardTitle a {
  color: #5a1f06;
  border-bottom: 3px solid #5a1f06;
  font-size: 16px;
  font-weight: bold;
}

.businessCardTitle a:hover {
  border-bottom: none;
}

.businessBox {
  border-bottom: 3px solid yellow;
  width: 38% !important;
}

/* NAVBAR DROPDOWN END*/

/* HERO START */

.hero {
  width: 100%;
  /* height: 100vh; */
  color: #5a1f06;
  background-color: #ffd0b1;
}

.heroLeft {
  font-weight: 700;
}

.heroLeft h2 {
  font-size: 3.5rem;
  line-height: 1.1428571428571428;
  margin-bottom: 30px;
}

.designYourSpan {
  color: #5a1f06;
  padding-top: 8px;
}

.scaryLinkAll {
  color: #5a1f06;
  border-radius: 999rem;
  padding: 11px 38px;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 19px;
  justify-content: center;
  display: inline-flex;
  width: 300px;
  /* font-family: "AllTogetherSerif", "Times New Roman", Times, serif; */
  font-weight: 900;
  font-size: 1rem;
  z-index: 0;
  /* line-height: 1.25; */
}

.scaryLinkAll::before {
  color: #5a1f06;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: bottom 200ms cubic-bezier(0.4, 0, 0.2, 1),
    left 200ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
  border-radius: 999rem;
}

.scaryLinkAll:hover::before {
  bottom: -8px;
  content: "";
  height: 100%;
  left: -7px;
  position: absolute;
  opacity: 1;
  width: 100%;
  transition-duration: 200ms;
  z-index: -1;
  border-radius: 999rem;
  color: #5a1f06;
}

.scaryLinkAll::after {
  border: 0.125rem solid #5a1f06;
  color: #5a1f06;
  bottom: 0;
  content: "";
  border-radius: 999rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.scaryLinkDesign {
  color: #5a1f06;
  background-color: white;
}

.scaryLinkDesign:hover::before {
  background: radial-gradient(
    101.97% 2204.87% at 101.97% 40.83%,
    #da418c 0%,
    #d70100 15.27%,
    #ff6701 29.33%,
    #ffd200 43.4%,
    #00b035 56.42%,
    #0f79eb 71%,
    #be9fff 84.54%,
    #da408f 100%
  );
  transition: bottom 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.scaryLinkDesign:hover::after {
  background: #ffffff;
}

.scaryLinkShop:hover {
  color: #5a1f06;
}

.scaryLinkShop {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.scaryLinkShop:hover::before {
  background-color: yellow;
  transition: bottom 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.scaryLinkShop:hover::after {
  background-color: white;
}

.heroDiv {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.heroRight img {
  width: 100%;
  border-radius: 50%;
}

/* HERO END */

/* CARDS START */
/* 
.cards {
  background-color: #ffd0b1;
}

.cardDiv {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
}

.cardsFirst {
  background: #53d4c0;
  border-radius: inherit;
  color: #040607;
  height: 100%;
  padding: 1.5rem 1.5rem 2rem;
  text-align: center;
  border-radius: 10px;
}

.cardsFirst p {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2857142857142858;
}

.cardsFirst h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
}

.cardsFirst a {
  color: #5a1f06;
  font-weight: bold;
}

.cardsSecond {
  background: #00403e;
  border-radius: inherit;
  color: #fff;
  height: 100%;
  padding: 1.5rem 1.5rem 2rem;
  text-align: center;
  border-radius: 10px;
}

.cardsSecond p {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2857142857142858;
}

.cardsSecond h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
}

.cardsSecond a {
  color: #fff;
  font-weight: bold;
}

.cardsThird {
  background: #0e74e1;
  border-radius: inherit;
  color: #fff;
  height: 100%;
  padding: 1.5rem 1.5rem 2rem;
  text-align: center;
  border-radius: 10px;
}

.cardsThird p {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2857142857142858;
}

.cardsThird h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
}

.cardsThird a {
  color: #fff;
  font-weight: bold;
} */

/* CARDS END */

/* Colorful Card start */

.threeSection {
  background-color: #ffd0b1;
}

.colorfulCardContainer {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  gap: 23px;
}

.purpleCard {
  background: #8a1a9b;
  padding: 24px;
  position: relative;
  height: 530px;
  border-radius: 8px;
  color: white;
}

.yellowCard {
  background: #dce84f;
  position: relative;
  padding: 24px;
  border-radius: 8px;
  height: 530px;
  color: black;
}

.orangeCard {
  background: #fa6400;
  padding: 24px;
  position: relative;
  height: 530px;
  border-radius: 8px;
  color: white;
}

.colorCardAbsolute {
  position: absolute;
  top: -103px;
}

.purpleImg,
.yellowImg,
.orangeImg {
  width: 350px;
}

.colorCardText {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.colorTextOne {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
}

.colorTextTwo {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  font-family: "AllTogetherSerif", "Times New Roman", Times, serif;
}

.colorCardArrow {
  text-align: center;
  margin-top: 80px;
}

.colorCardArrowB {
  text-align: center;
  margin-top: 48px;
}

.line {
  font-family: "AllTogetherSans", -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2857142857142858;
  letter-spacing: 0.02em;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  background: none;
  border: none;
  padding-bottom: 0.375rem;
  --link-underline-transform-scale-x: 1;
}

.lineColorA::after {
  background: #ffd200;
}

.lineColorB::after {
  background: #5a1f06;
}

.lineColorC::after {
  background: #000000;
}

.line:hover {
  --link-underline-transform-scale-x: 0;
}

.line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  transform: scaleX(var(--link-underline-transform-scale-x));
  transform-origin: 100% 50%;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* Colorful Card end */

/* much text section start */

.textSpan {
  font-size: 50px;
  /* font-family: "AllTogetherSerif", "Times New Roman", Times, serif;   */
  font-weight: 400;
  color: #5a1f06;
}

.andSpan {
  font-size: 50px;
  /* font-family: "AllTogetherSerif", "Times New Roman", Times, serif;   */
  font-weight: 600;
  margin-left: 8px;
  margin-right: 8px;
}

.trickAndTreat {
  background-color: #ffd0b1;
}

/* much text section end */

/* OUR MISSION START */

.ourMission {
  background-color: #ffd0b1;
  padding-top: 100px;
}

.yellowBack {
  width: 100%;
  background-color: #ffd200;
  border-radius: 300px 300px 0 0;
}
.missionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.missionContent h2 {
  font-size: 16px;
  font-weight: bold;
  color: #5a1f06;
  padding-top: 100px;
}

.missionContent p {
  max-width: 65%;
  font-size: 30px;
  color: #040607;
  padding-top: 20px;
  margin-bottom: 20px;
}

.learnMoreAbout {
  width: 400px;
  padding: 20px 25px;
  background-color: #fff;
  color: #5a1f06;
  border: none !important;
  margin-bottom: 50px;
}

.learnMoreAbout:hover::before {
  background-color: #5a1f06;
  transition: bottom 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* OUR MISSION END */

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 40px !important;
  height: 40px !important;
}

/* EVERY MOMENT SECTION  START */
.everyMomentLeft img {
  border: 0.25rem solid #ffd8fc;
  border-radius: 999rem 999rem 0 0;
}
/* EVERY MOMENT SECTION  END */
